{% extends 'base.html' %}


{% block content %}
    <div id="home" class="container-fluid">
        <div class="row">
            <div id="intro" class="container">
                
                <div class="row">
                   
                    <div id="test" class="col-md-6 text-center mt-5">
                        <h1>Hi,</h1>
                        <h2>I AM BINAMIN.</h2>
                        <p>I AM A FULLSTACK WEB DEVELOPER FROM NAIROBI,KENYA.</p>
                        <div>
                            <a href=""><button class="btn btn-outline-light">Get to know me.</button></a>
                        </div>
                        <div class="mt-5">
                            <h6>
                                Hardwork beats talent. All day everyday.<i class="far fa-check-circle"></i>
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img id="profile" src="../static/images/PSX_20201231_214643_transcpr-removebg-preview.png" alt="Binamin">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}