{% extends 'base.html' %}

{% block content %}
    <div id="projo" class="container-fluid">
        {% include 'navbar.html' %}
        <div id="master" class="row">
            <div id="display" class="container-fluid">
               <h1><u> <u>About</u></u></h1>
               <h6>I am a Full-Stack web developer who has experience using Python and Angular to build web applications and APIs.</h6>

                <div id="detailed" class="row">
                    <div class="col-md-2">
                        <img src="" alt="profile">
                    </div>
                    <div class="col-md-6">
                        <div>
                            <H4><u>PERSONAL INFORMATION</u></H4>
                            <ul>
                                <li><strong>OFFICIAL NAME: </strong> BINAMIN HUSSEIN HASSAN</li>
                                <li><strong>DATE OF BIRTH: </strong> 04 MARCH 2000</li>
                                <li><strong>PHONE: </strong> 0794462506</li>
                                <li><strong>EMAIL ADDRESS: </strong> binamin.h.hassan14@gmail.com</li>
                                <li><strong>GITHUB: </strong><a href="https://github.com/Binamin-hussein100">MY PROFILE</a></li>
                                <li><strong>HOME: </strong>NAIROBI, KENYA.</li>
                                <li><strong>SCHOOL: </strong>MORINGA SCHOOL.</li>
                            </ul>
                        </div>
                        <hr>
                        <small>@binamin</small>
                        <hr>
                        <div id="king" >
                            <H4><u>TECHNICAL SKILLS</u></H4>
                            <p><i class="fas fa-laptop-code"></i>  <strong>Programming Languages: </strong>Python, JavaScript, Typescript and SQL</p>
                            <p><i class="fas fa-laptop-code"></i>   <strong>Databases: </strong>Postgresql,SQLite</p>
                            <p><i class="fas fa-laptop-code"></i>   <strong>Web development: </strong>Angular , Angular CLI , Django , Flask, JSON, HTML, Bootstrap, CSS, REST and Ajax</p>
                            <p><i class="fas fa-laptop-code"></i>   <strong>Tech tools: </strong>Virtual studio code ,Postman ,JWT ,SQLAlchemy ,Github.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4><u>PROGRAMMING LANGUAGES</u></h4>
                        <div>
                            <span class="skill">HTML</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div>
                        <div>
                            <span class="skill">CSS</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div>
                        <div>
                            <span class="skill">JAVASCRIPT</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </div>
                        <div>
                            <span class="skill">PYTHON</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

