{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
    <div id="projo" class="container-fluid">
           
               <div id="know_me" class="row">
                   <div class="col-md-1"></div>
                    <div id="picture" class="col-md-2">
                        <img id="repr" src="/static/images/WhatsApp_Image_2022-02-02_at_9.50.01_PM-removebg-preview.png" alt="profile">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div >
                            <h4 id="title"><u> <u>About</u></u></h4>
                            <ul id="listy" class="list-group list-group-flush">
                                <li><h6><strong>NAME:</strong>Binamin Hussein </h6></li>
                                <br>
                                <li><h6><strong>AGE:</strong>21 years old </h6></li>
                                <br>
                                <li><h6><strong>MARITAL STATUS:</strong>Dating <h1>&#128526;</h1></h6></li>
                                <br>
                                <li><h6><strong>PATH:</strong>Full Stack Developer / Path to a better life.</h6></li>
                                <br>
                                
                              </ul>
                                
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
               </div>
                <div id="detailed" class="row">
                    
                    <div class="col-md-1"></div>                    
                    <div id="tailin" class="col-md-9">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div id="car_1" class="carousel-item active">
                                <div>
                                    <H4><u>PERSONAL INFORMATION</u></H4>
                                    <ul>
                                        <li><strong>OFFICIAL NAME: </strong> BINAMIN HUSSEIN HASSAN</li>
                                        <li><strong>DATE OF BIRTH: </strong> 04 MARCH 2000</li>
                                        <li><strong>PHONE: </strong> 0794462506</li>
                                        <li><strong>EMAIL ADDRESS: </strong> binamin.h.hassan14@gmail.com</li>
                                        <li><strong>GITHUB: </strong><a href="https://github.com/Binamin-hussein100">MY PROFILE</a></li>
                                        <li><strong>HOME: </strong>NAIROBI, KENYA.</li>
                                        <li><strong>SCHOOL: </strong>MORINGA SCHOOL.</li>
                                    </ul>
                                </div>
                              </div>
                              <div id="car_2" class="carousel-item">
                                <div>
                                    <H4><u>TECHNICAL SKILLS</u></H4>
                                    <p><i class="fas fa-laptop-code"></i>  <strong>Programming Languages: </strong>Python, JavaScript, Typescript and SQL</p>
                                    <p><i class="fas fa-laptop-code"></i>   <strong>Databases: </strong>Postgresql,SQLite</p>
                                    <p><i class="fas fa-laptop-code"></i>   <strong>Web development: </strong>Angular , Angular CLI , Django , Flask, JSON, HTML, Bootstrap, CSS and REST API</p>
                                    <p><i class="fas fa-laptop-code"></i>   <strong>Tech tools: </strong>Virtual studio code ,Postman ,JWT ,SQLAlchemy ,Github.</p>
                                </div>
                              </div>
                              <div id="car_3" class="carousel-item">
                                <div>
                                    <h4><u>LANGUAGES</u></h4>
                                    <div>
                                        <span class="skill">HTML</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="skill">CSS</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="skill">JAVASCRIPT</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="skill">PYTHON</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                    
                </div>
            </div>

{% endblock %}
