<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <div class="container-fluid">
      <a href="/" class="navbar-brand"><H1><strong>BHH          *</strong></H1></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ml-5">
              <a href="{% url 'projects' %}" class="nav-item nav-link active">Projects</a>
              <a href="{% url 'work' %}" class="nav-item nav-link active">Profile</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Messages</a>
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">Inbox</a>
                      <a href="#" class="dropdown-item">Sent</a>
                      <a href="#" class="dropdown-item">Drafts</a>
                  </div>
              </div>
          </div>
          <form class="d-flex">
              <div class="input-group">                    
                  <input type="text" class="form-control bg-black" placeholder="Search">
                  <button type="button" class="btn btn-secondary"><i class="fas fa-search"></i></button>
              </div>
          </form>
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active"><h6>CONTACT</h6></a>
          </div>
      </div>
  </div>
</nav> -->

<!-- nav3   ORIGINAL-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><img id="logs" src="/static/images/logo.jpeg" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        more
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'work' %}">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projects' %}">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/images/Binamin_Hassan_-_Full_Stack_Developer.pdf" download >RESUME <span><i class="fas fa-download"></i></span> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a id="len1" class="hoverable" href="#">Home</a></li>
        <li><a id="len2" class="hoverable" href="#">About</a></li>
        <li><a id="len3" class="hoverable" href="#">Portfolio</a></li>
        <li><a id="len4" class="hoverable" href="#">Contact</a></li>
      </ul>
    </div>
  </nav> -->

  <!-- TOP TRIAL -->
  