<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-invert">
  <div class="container-fluid">
      <a href="/" class="navbar-brand"><H1><strong>BHH          *</strong></H1></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ml-5">
              <a href="{% url 'projects' %}" class="nav-item nav-link active">Projects</a>
              <a href="{% url 'work' %}" class="nav-item nav-link active">Profile</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Messages</a>
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">Inbox</a>
                      <a href="#" class="dropdown-item">Sent</a>
                      <a href="#" class="dropdown-item">Drafts</a>
                  </div>
              </div>
          </div>
          <form class="d-flex">
              <div class="input-group">                    
                  <input type="text" class="form-control bg-black" placeholder="Search">
                  <button type="button" class="btn btn-secondary"><i class="fas fa-search"></i></button>
              </div>
          </form>
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active"><h6>CONTACT</h6></a>
          </div>
      </div>
  </div>
</nav>