{% extends 'base.html' %}

{% block content %}
    <div id="prjo" class="container-fluid">
        {% include 'navbar.html' %}
        <div class="row">
            <div id="url" class="container-fluid">
                {% for i in proj %}
                    <div class="card" style="width: 26rem;  background-color: rgb(194, 216, 191); color: black;">
                        <img class="card-img-top" src="{{i.proj_image.url}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{i.title | upper}}</h5>
                        <p class="card-text">{{i.description}}</p>
                        <div id="links">
                            <a href="{{i.repo_link}}" class="btn btn-outline-dark">View repository</a>
                            <a href="{{ i.proj_link }}" class="btn btn-outline-dark">View project</a>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}