@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
#home{
    background-image: radial-gradient(rgb(41, 100, 100), rgb(92, 128, 92), rgb(128, 145, 128));
    height: 100vh;
}

nav{
    font-family: 'Abril Fatface', cursive;
}

#display{
    padding: 1%;
}

/* #master{
    
} */

#intro{
    margin-top: 8%;
    border: solid white 2px;
    height: 60vh;
    color: green;
    background-color: rgb(194, 216, 191);
    /* background-color: rgba(18, 207, 135, 0.199); */
    border-radius: 1%;
    padding: 2%;
}

#links{
    display: flex;
    justify-content: space-between;
}

#test{
    font-family: 'Ultra', serif;
}

#profile{
    max-width: 100%;
    height: 100%;
    margin-top: -15%;
}

#projo{
    background-image: radial-gradient(rgb(58, 100, 75), rgb(92, 128, 92), rgb(128, 145, 128));
    height: auto;
    color: black;
}

#prjo{
    background-image: radial-gradient(rgb(58, 100, 75), rgb(92, 128, 92), rgb(128, 145, 128));
    height: auto;
    color: white;
}

#url{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    margin: 1%;
    box-shadow: 0 8px 8px -4px lightblue;
    
}

#detailed{
    margin-top: 5%;
}

#king{
    margin-top: 5%;
}